[tool.poetry]
name = "alicebot"
version = "0.1.1"
description = "A simply asynchronous python chatbot framework."
license = "MIT"
authors = ["st1020 <stone_1020@qq.com>"]
readme = "README.md"
homepage = "https://docs.alicebot.dev/"
repository = "https://github.com/st1020/alicebot"
documentation = "https://docs.alicebot.dev/"
keywords = ["bot", "chatbot", "qq", "qqbot", "cqhttp", "coolq"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Framework :: AsyncIO",
    "Framework :: Robot Framework",
    "Framework :: Robot Framework :: Library",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Topic :: Communications :: Chat"
]

[tool.poetry.dependencies]
python = "^3.7"
pydantic = "~1.8.0"
aiohttp = "^3.7.0"
loguru = "^0.5.0"

[tool.poetry.dev-dependencies]
sphinx = "3.5.4"
sphinx-markdown-builder = { git = "https://github.com/st1020/sphinx-markdown-builder.git" }
alicebot-adapter-cqhttp = { path = "./packages/alicebot-adapter-cqhttp", develop = true }
alicebot-adapter-mirai = { path = "./packages/alicebot-adapter-mirai", develop = true }
alicebot-adapter-dingtalk = { path = "./packages/alicebot-adapter-dingtalk", develop = true }

[tool.poetry.extras]
cqhttp = ["alicebot-adapter-cqhttp"]
mirai = ["alicebot-adapter-mirai"]
dingtalk = ["alicebot-adapter-dingtalk"]
all = ["alicebot-adapter-cqhttp", "alicebot-adapter-mirai", "alicebot-adapter-dingtalk"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
