:root {
  --vp-c-blue-1: #0099ff;
  --vp-c-blue-2: #33adff;
  --vp-c-blue-3: #4db8ff;
  --vp-c-blue-soft: rgba(0, 61, 102, 0.14);
}

.dark {
  --vp-c-blue-1: #0099ff;
  --vp-c-blue-2: #007acc;
  --vp-c-blue-3: #006bb3;
  --vp-c-blue-soft: rgba(0, 61, 102, 0.16);
}

:root {
  --vp-c-brand-1: var(--vp-c-blue-1);
  --vp-c-brand-2: var(--vp-c-blue-2);
  --vp-c-brand-3: var(--vp-c-blue-3);
  --vp-c-brand-soft: var(--vp-c-blue-soft);
}
